.task-text {
  color: rgb(12, 3, 34);
  font-size: 1rem;
  text-align: left;
  max-height: 2rem;
  word-break: break-all;
  overflow: auto;
}

.task-wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px 0;
  height: 50    px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  line-height: 25px;
}

.square {
  border-radius: 5px;
  background-color: rgb(20, 0, 75);
  border: 0;
  color: rgb(255, 145, 8);
  font-size: 1.2rem;
  margin-left: 5px;
  text-align: center;
}

.circle {
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: middle; 
  height: 20px;
  width: 20px;
  background-color: rgb(20, 0, 75);
  border: 2px solid rgb(255, 145, 8);
}

@media screen and (min-width: 850px) {
  .task-wrapper {
    position: relataive;
    top: 120px;
  }
}
