.task-text {
  color: rgb(12, 3, 34);
  font-size: 1rem;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
 
.task-wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px;  
  margin-top: 15px; 
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
}
 
.task-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 25px;
}
 
.square {
  border-radius: 5px;
  background-color: rgb(20, 0, 75);
  border: 0;
  color: rgb(255, 145, 8);
  font-size: 1.2rem;
  margin-right: 7px;
  text-align: center;
}

.circle {
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-color: rgb(20, 0, 75);
  border: 2px solid rgb(255, 145, 8);
}

.result {
  font-size: 1rem;
  font-weight: 900;
  color: rgb(20, 0, 75);
  margin: 0 5px 0 0;
}

.blocks {
  display: flex;
  align-items: center;
  gap: 3px;
}

.outcomes {
  color: rgb(20, 0, 75);
  margin-left: 4px;
}

.percents {
  color: rgb(255, 145, 8);
}

@media screen and (min-width: 850px) {
  .task-wrapper {
    position: relataive;
    top: 120px;
  }
}
